<header class="notepad-site-head">
    <div class="notepad-site-head-menu">
        
        {% include logo.html %}


{% include navigation.html %}
 <div class="clearfix"></div>
    </div>
    
    <h1 class="notepad-blog-title">
        <span class="notepad-site-head-title-bg">
            {{ site.title }}
        </span>
    </h1>
    <h2 class="notepad-blog-description"><a href="{{ site.url }}/status-updates">{% for status in site.data.statuses %}{% if forloop.last %}{{ status.message }}{% endif %}{% endfor %}</a></h2>
</div>
</header>
