<!doctype html>
<html class="no-js" lang="en">
{% include head.html %}
<body class="home-template">
  <a  href="http://www.reactivemanifesto.org/"> 
  <img class="reactive-man" style="border: 0; position: fixed; right: 0; top:0; z-index: 99999" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-right.png">
  </a>
<!--
{% if site.header_bg %}<div class="notepad-parallax-background" style="background-image: url({{ site.url }}/images/headers/{{site.header_bg}})"></div>{% endif %}

-->
{% include headerhome.html %}
<main class="notepad-content" role="main">
{{ content }}
</main>
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
